@import 'tailwindcss';

@theme {
  --list-style-type-none: none;
  --list-style-type-disc: disc;
  --list-style-type-decimal: decimal;
  --list-style-type-circle: circle;
  --list-style-type-square: square;
}

/* Dark mode variables */
:root {
  --color-bg: #f8fafc;
  --color-text: #1e293b;
  --color-card: #f1f5f9;
  --color-btn-primary: #4f46e5;
  --color-btn-primary-text: #fff;
  --color-btn-secondary: #e2e8f0;
  --color-btn-secondary-text: #000;
}

[data-theme="dark"] {
  --color-bg: #18181b;
  --color-text: #f1f5f9;
  --color-card: #27272a;
  --color-btn-primary: #6366f1;
  --color-btn-primary-text: #fff;
  --color-btn-secondary: #334155;
  --color-btn-secondary-text: #fff;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility c-skill-card {
  @apply container p-3 rounded-xl divide-y divide-solid shadow-xl;
  background-color: var(--color-card);
  color: var(--color-text);
}

@utility c-card {
  @apply container p-3 rounded-xl shadow-xl;
  background-color: var(--color-card);
  color: var(--color-text);
}

@utility c-btn-primary {
  @apply inline-flex justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium shadow-xs focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  &:hover {
    background-color: #6366f1;
  }
}

@utility c-btn-secondary {
  @apply inline-flex justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium shadow-xs focus:outline-hidden focus:ring-2 focus:bg-slate-700 focus:ring-offset-2;
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  &:hover {
    background-color: #64748b;
  }
}

@utility c-btn-disabled {
  @apply inline-flex justify-center rounded-md border border-transparent bg-gray-300 py-2 px-4 text-sm font-medium text-black shadow-xs cursor-not-allowed;
}

@utility c-input-number {
  @apply block rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500;
}

@utility c-input-label {
  @apply block text-sm font-medium;
  color: var(--color-text);
}

@utility c-table {
  @apply table-fixed border-collapse border border-slate-500;
}

@utility c-table-th {
  @apply p-2 border border-slate-600;
}

@utility c-table-td {
  @apply p-2 border border-slate-700;
}

@utility c-badge {
  @apply bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-gray-300;
}